@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Graphity</h1>
    <p>Open <a href="/graphiql">this link to go directly to the GraphiQL frontend</a> and query the graph. Or log in with one of these users to see authorisation in action.</p>
    <p><h3>Normal User</h3></p>
    <p>Username: user@graphity.com</p>
    <p>Password: Password123!</p>
    <p><h3>Admin User</h3></p>
    <p>Username: admin@graphity.com</p>
    <p>Password: Password123!</p>
</div>
